body{
  background-image: url("img/sand.png");
  background-repeat: repeat;
  background-attachment: 0% 30%;
}

.loginDiv{
  margin-bottom: 5px;
}

.board{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

#row4{
  margin-bottom: 100px;
}
.tile{
  height: 150px;
  width: 150px;
  margin-right: 5px;
  position: relative;
}

.tile img{
  position: absolute;
}

/*Meeple css*/
.assassin{
  display: none;
	position:absolute;
	top: 1%;
	left: 18.5%;
  background-image: url("../img/meeple/assassin.png");
  min-width: 30px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;

}

.merchant{
  display: none;
	position:absolute;
	top: 18.5%;
	left: 2%;
  background-image: url("../img/meeple/merchant.png");
  min-width: 30px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.elder{
  display: none;
	position: absolute;

	top: 18.5%;
	left: 34.5%;
  background-image: url('../img/meeple/elder.png');
  min-width: 30px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.builder{
  display: none;
	position: absolute;
	top:39.5%;
	left: 7.5%;
  background-image: url("../img/meeple/builder.png");
  min-width: 30px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.vizier{
  display: none;
	position: absolute;
	top: 39.5%;
	left:29.5%;
  background-image: url("../img/meeple/vizier.png");
  min-width: 30px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.counter{
  position:relative;
  height: 10%;
  width: 10%;
	top: 24%;
	left: 23%;
  font-weight: bold;
  background-color: white;
  text-align: center;
  padding-bottom: 3px;
}

.oasis{
  display: none;
	position: absolute;
	top: 66.5%;
	left:49.5%;
  background-image: url("../img/meeple/palm.png");
  min-width: 27px;
  min-height: 43px;
  background-size: 27px 43px;
  background-repeat: no-repeat;
}

.palace{
  display: none;
	position: absolute;
	top: 36.5%;
	left:72.5%;
  background-image: url("../img/meeple/palace.png");
  min-width: 30px;
  min-height: 36px;
  background-size: 30px 36px;
  background-repeat: no-repeat;
}

.merch img{
  height: 175px;
}

.djinn img{
  height: 150px;
  width: 150px;
}
