#pileInHand{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;

  bottom: 0px;
  background-image: url("../img/scroll2.png");
  background-repeat: no-repeat;
  background-size: 925px 100px;
  height:100px;
  width: 925px;
  z-index: 5;
}

#pileInHand img{
  flex: 0, 0;
  height: 75px;
  width: 75px;
  margin-top: 10px;
  z-index: 6
}
