/* CSS declarations go here */
h1{
  font-family: feathergraphy-clean;
  font-size: 175%
}

@font-face {
  font-family: feathergraphy-clean;
  src: url("fonts/Feathergraphy_Clean.ttf");
}
@font-face {
  font-family: feathergraphy;
  src: url("fonts/Feathergraphy2.ttf");
}

body{
  background-image: url("img/sand.png");
  background-repeat: repeat;
  background-attachment: 0% 30%;
}

.loginDiv{
  margin-bottom: 5px;
}

.tile img{
  height: 150px;
  width: 150px;
}

.merch{
  height: 175px;
}

.djinn{
  height: 150px;
  width: 150px;
}
