a{
  text-decoration: none;
  color: black;
}

.imagecontainer img{
    width: 90%;
}

.login-item{
  margin-left: 20px;
  margin-bottom: 20px;
}

.flex-container{
  display: flex;
  justify-content: space-between;

}

.img-container{
  flex: 0, 0;
}

.button-container{
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 7px;
}

.newgame-button{
  flex: 0, 0;
  width:100%;
  justify-content: center;
}

.loadgame-button{
  flex: 0, 0;
  width:100%;
  justify-content: center;
  margin-top: 0px;
}

.button-container h1{
  font-family: feathergraphy-clean;
  text-align: center;
  margin: 5px;
  margin-bottom: 0px;
  border: 5px solid #222047;
  background: #f99c4e;

}
